<footer style="display: flex; flex-direction: row; text-align: center;">

    <!-- This cool to keep, its up to you.-->
    <a href="https://soupault.app" style="align-content: center;display: flex;">
        <img src="/powered_by_soupault.png"  style="filter: hue-rotate(142deg);"/>
    </a>

    <!-- Replace this with footer you want.-->
    <p style="margin: auto .5em;">
        Intrested with digital garden? <a href="https://github.com/multidecay/soupault-digital-garden" target="_blank"> let's make one here.</a>
    </p>
</footer>