<table id="seed-meta" class="seed_meta">
    <tbody>
        <tr>
            <td>Field</td>
            <td><span id="seed-field">{{field}}</span></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><span id="seed-type">{{type}}</span></td>
        </tr>
        <tr>
            <td>Datetime</td>
            <td><time id="seed-time">{{date}}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td><span id="seed-tags">{{tags}}</span></td>
        </tr>
        <tr>
            <td>Audience</td>
            <td><span id="seed-audience">{{audience}}</span></td>
        </tr>
    </tbody>
 </table>